.selectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container {
    display: grid;
    grid-gap: 10px;
}

.selectors select {
    height: 38px;
    width: 540px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);

}

#search-button {
    width: 32.9%;
    height: 38px;
    font-size: 20px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}


.query-name {
    margin-top: 26px;
}

#line {
    height: 4px;
    border: none;
    background: black;
    /*position: relative;*/
    margin-top: -13px;
    opacity: 1;
}

.query-course-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.query-course-characteristics {
    display: grid;
    grid-gap: 10px;
    margin-top: 10px;
}

#criteria-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

#criteria-container select, #criteria-container input, #criteria-container button {
    height: 38px;
    width: 340px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    /* margin-left: 10px;*/
}

#annotation {
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    color: rgba(0,0,0,1);
   /** opacity: 0.9;*/
    resize: none;
}

#save-annotation {
    margin-top: 12px;
    width: 20%;
    height: 38px;
    font-size: 18px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    background-color: #005D2F;
    color: #fff;
    margin-left: 33px;
}

#edit-annotation {
    margin-top: 12px;
    width: 20%;
    height: 38px;
    font-size: 18px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
    background-color: #BE0000;
}

main {
    background-color: #D8C285;
}