main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: calc(100vh - 120px);
}

.cluster {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--surface-color);
  color: var(--on-surface);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cluster-content {
  overflow: auto;
}

.cluster-content:hover {
  overflow: auto;
}

.cluster h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 15px 0px;
}

.cluster h3 {
  padding: 10px 0px;
}

.cluster h2 a {
  text-decoration: none;
}

.cluster h2 a:hover {
  text-decoration: underline;
}

.cluster .no-padding {
  padding: 0px;
}

.positive, .negative, .neutral {
  border: none;
  padding: 5px;
  margin: 0px auto;
  display: block;
  width: 90%;
  height: 90%;
}

.positive:hover, .negative:hover, .neutral:hover {
  text-decoration: none;
}

.message-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.message {
  display: block;
  border: 1px solid var(--border-color);
  margin: 5px;
  padding: 5px;
  background-color: var(--th-color);
  color: var(--on-th);
  text-align: left;
}

.message a {
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  main .cluster {
    max-width: 100%;
  }
  #daily-timetable th:nth-child(7){
    display: none;
  }
  #daily-timetable td:nth-child(7){
    display: none;
  }
  #daily-timetable th:nth-child(8){
    display: none;
  }
  #daily-timetable td:nth-child(8){
    display: none;
  }
}

@media screen and (max-width: 650px) {
  main .cluster {
    max-width: 100%;
  }
  #daily-timetable th:nth-child(6){
    display: none;
  }
  #daily-timetable td:nth-child(6){
    display: none;
  }
  #elective-courses th:nth-child(4){
    display: none;
  }
  #elective-courses td:nth-child(4){
    display: none;
  }
}

@media screen and (max-width: 550px) {
  main .cluster {
    max-width: 100%;
  }
  #elective-courses th:nth-child(5){
    display: none;
  }
  #elective-courses td:nth-child(5){
    display: none;
  }
}

@media screen and (max-width: 500px) {
  main .cluster {
    max-width: 100%;
  }
  #daily-timetable th:nth-child(3){
    display: none;
  }
  #daily-timetable td:nth-child(3){
    display: none;
  }
}

#daily-timetable, #elective-courses {
  flex:5 1;
}

#messages, #courses {
  flex: 3 1 200px;
}
