.selectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container {
    display: grid;
    grid-gap: 10px;
}

.selectors select {
    height: 38px;
    width: 540px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);

}

#search-button {
    width: 32.9%;
    height: 38px;
    font-size: 20px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

#query-name {
    margin-top: 26px;
}

#line {
    height: 4px;
    border: none;
    background: black;
    position: relative;
    margin-top: -13px;
}

#query-course-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#query-course-characteristics {
    display: grid;
    grid-gap: 10px;
}

#criteria-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

#criteria-container select, #criteria-container input, #criteria-container button {
    height: 38px;
    width: 340px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
   /* margin-left: 10px;*/
}


#query-grades-table {
    background-color: #fff;
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#query-grades-table thead tr {
    height: 70px;
    font-size: 19px;
    background-color: #f3f3f3;
}


#query-grades-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#query-grades-table tbody tr:last-of-type {
    border-bottom: 2px solid #ccc;
}

#query-grades-table td {
    height: 60px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
}

main {
    background-color: #D8C285;
}