main {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1;
}

main table {
  table-layout:fixed;
}

main table td {
  color: #000;
}

main table th {
  text-align: left;
}

main table th:first-child {
  width: 150px;
}

main table thead tr:first-of-type th {
  padding-left: 0px;
}

.filters {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  border-bottom: 1px solid var(--on-primary); 
  padding-bottom: 10px;
  width:100%;
  justify-content: flex-start;
}

.filters * {
  margin: auto 0px;
}

/* Label */
.filters label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.lecture {
  background-color: #ffcccc;
}

.exercise {
  background-color: #ccffcc;
}

.both {
  background-color: #ffffcc;
}
