:root {
  scrollbar-color: var(--secondary-color);
}

/* Label */
label {
  color: var(--on-surface);
}

/* Text fields */
input[type="text"],
input[type="password"],
input[type="search"] {
  padding: 7px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--surface-color);
  color: var(--on-surface);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
  border: 1px solid var(--secondary-color);
  outline: 1px solid var(--secondary-color);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover {
  border: 1px solid var(--secondary-color);
}

input[type="search"]{
  height: 40px;
}

/* Checkbox */
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px auto;
  width: 1.5em;
  height: 1.5em;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

input[type="checkbox"]:checked{
  color: var(--secondary-color);
  font-weight: bold;
}

input[type="checkbox"]:checked:after{
  content: "\2713";
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked:after::content {
  transform: translateY(-1em);
}

textarea {
  padding: 7px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--surface-color);
  color: var(--on-surface);
}

textarea:hover {
  border: 1px solid var(--secondary-color);
}

textarea:focus {
  border: 1px solid var(--secondary-color);
  outline: 1px solid var(--secondary-color);
}

/* Select */
select {
  background-color: var(--surface-color);
  color: var(--on-surface);
  padding: 7px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  /* appearance: none; */
  /* -webkit-appearance: none; */
}

select:hover {
  border: 1px solid var(--secondary-color);
}

select:focus {
  border: 1px solid var(--secondary-color);
  outline: 1px solid var(--secondary-color);
}

select option {
  appearance: none;
  -webkit-appearance: searchfield;
  background-color: var(--surface-color);
  color: var(--on-surface)
}

select option:hover {
  background-color: #333;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--surface-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--on-surface);
}

/* Button */
button {
  background-color: #3d3d3d;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  opacity: 0.9;
}
