/* Login section styles */
main {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  width:100%;
  padding: 0px;
  justify-content: center;  
  min-height: calc(100vh - 100px);
}

.item {
  flex: 1;
  padding: 20px;
  min-height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.item:first-child {
  flex:2;
}

.item:last-child {
  flex:2;
  padding: 50px;
}

.item h1 {
  position: sticky;
  top: 0;
  text-align: center;
  margin-top: 0;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  font-size: 100pt;
}

.item p {
  font-style: italic;
  text-align: center;
  color: var(--on-background);
}

.item .big-logo {
  width:100%;
}

.item button {
  max-width: 500px;
  margin: 0px auto;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    flex-flow: wrap-reverse;
  }

  .item {
    margin: 10px 0;
  }
}
