/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--border-color);
}

th {
  background-color: var(--th-color);
  color: var(--on-th);
  font-weight: 700;
}

td {
  background-color: var(--td-color);
  color: var(--on-td)
}

