main {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1;
}

header, footer {
  flex: 0;
}

.filters {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  border-bottom: 1px solid var(--on-primary); 
  padding-bottom: 10px;
}

.filters * {
  margin: auto 0px;
}

/* Label */
.filters label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.export {
  font-size: x-large;
  cursor: pointer;
}

th {
  cursor: pointer;
}

th:hover {
  text-decoration: underline;
}

.positive, .negative, .neutral {
  width: 90%;
  height: 90%;
  cursor: pointer;
}

td .neutral {
  color: var(--on-neutral);
}

td .neutral:hover {
  background-color: var(--negative);
  color: var(--on-negative);
}

main input[type="search"],
main div{
  width:100%;
  overflow: auto;
}

@media (max-width: 767px) {
  table th:nth-child(2),
  table td:nth-child(2),
  table th:nth-child(4),
  table td:nth-child(4),
  table th:nth-child(5),
  table td:nth-child(5),
  table th:nth-child(6),
  table td:nth-child(6) {
    display: none;
  }
  .filters {
    display: none;
  }
  input[type="search"] {
    margin-bottom: 10px;
    position: sticky;
    top: 55px;
  }
}

@media (max-width: 991px) {
  table th:nth-child(2),
  table td:nth-child(2),
  table th:nth-child(5),
  table td:nth-child(5){
    display: none;
  }
}
