body{
  min-height: 100vh;
}
main {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1;
}

header, footer {
  flex: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  
}

.filters * {
  margin: auto 0px;
}

.export {
  font-size: x-large;
  cursor: pointer;
}

th:hover {
  text-decoration: underline;
}

tr {
  transition: .6s ease opacity,.5s ease transform;
}


main input[type="search"],
main div{
  width:100%;
  overflow: auto;
}
