main {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1;
}

.filters {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 20px;
  border-bottom: 1px solid var(--border-color); 
  padding-bottom: 10px;
  padding-bottom: 5px;
}

.filters * {
  margin: auto 0px;
}

/* Label */
.filters label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.export {
  font-size: x-large;
  cursor: pointer;
}

th {
  cursor: pointer;
}

th:hover {
  text-decoration: underline;
}

tr {
  transition: .6s ease opacity,.5s ease transform;
}


main input[type="search"],
main div{
  width:100%;
  overflow: auto;
}

@media (max-width: 767px) {
  table th:nth-child(2),
  table td:nth-child(2),
  table th:nth-child(3),
  table td:nth-child(3) {
    display: none;
  }
  .filters {
    display: none;
  }
  input[type="search"] {
    margin-bottom: 10px;
    position: sticky;
    top: 51px;
    background-color: var(--back-color);
  }
}

@media (max-width: 991px) {
  table th:nth-child(2),
  table td:nth-child(2) {
    display: none;
  }
}
