main {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 20px;
}

.personal-info, .tabs {
  background-color: var(--surface-color);
  color: var(--on-surface);
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.5);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.personal-info {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  flex: 1;
  gap: 0px;
}

.personal-info img {
  margin: 0px 20px 20px 0px;
  border: 1px solid var(--border-color);
  object-fit: cover;
  max-width: 150px;
  border-radius: 5px;
}

.personal-info a span {
  display: block;
  font-size: 30px;
}

.personal-info .image-settings {
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.personal-info .image-settings div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tabs {
  display: flex;
  flex-flow: column;
  flex: 4;
  overflow: auto;
  min-width: 400px;
}

.tabline {
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var (--surface-color);
  color: var(--on-surface); 
  max-width: 100%;
}

.tabline button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 0px;
}

.tabcontent {
  display: none;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-top: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.tabcontent label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}

#health-insurance table {
  table-layout: fixed;
}

#health-insurance td, #health-insurance th {
  width: calc(100% / 13);
}

#health-insurance th {
  padding: 10px 0;
}

#card-settings {
  align-items: flex-start;
}

#email-settings {
  align-items: flex-start; 
}

.sub-options {
  opacity: 0.5;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.sub-options.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sub-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-top: 5px;
  transition: opacity 0.9s ease;
}

#theme-settings {
  align-items: flex-start;
}
